// about page starts

@font-face {
  font-family: "roboto";
  src: url(/Fonts/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf78.woff2);
}

@font-face {
  font-family: "roboto2";
  src: url(/Fonts/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

.about-page-size {
  width: 100vw;
  height: 100vh;
  //   background: rgb(12, 13, 20);
  //   background: linear-gradient(
  //     95deg,
  //     rgba(12, 13, 20, 1) 51%,
  //     rgba(21, 25, 33, 1) 62%,
  //     rgba(10, 16, 32, 1) 72%
  //   );
  //   transform: translate(0, 50%) scale(0.9);
  position: relative;
  font-family: "roboto";
  //   z-index: -3;
  // border: 2px solid white;

  // &::before {
  //   // width: 100vw;
  //   // height: 100vh;
  //   content: "About";
  //   font-family: "roboto";
  //   font-size: 8vw;
  //   font-weight: bold;
  //   color: #17161f;
  //   // border: 2px solid blac;
  //   position: absolute;
  //   // transform: translate(78vw, 10vh) scale(1);
  // }
  h1 {
    font-family: "roboto";
    font-size: 8vw;
    font-weight: bold;
    color: #17161f;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.about-main-content {
  width: 60%;
  height: 75%;
  position: absolute;
  background: transparent;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  transform: translate(10%, 17%);
  color: white;
  line-height: 25px;
  font-size: 16px;
  overflow: hidden;
  font-family: "roboto";
  // opacity: ;

  .para-animation {
    opacity: 2;
  }

  .line {
    // width: 0px;
    color: red;
    position: relative;
    top: 0;
    right: 475px;
    transform: rotate(90deg);
  }

  p {
    background-color: transparent;
    font-family: "roboto";

    &:hover {
      background-color: rgb(35, 35, 35);
    }

    .srNumber {
      color: rgb(105, 105, 105);
      font-family: "roboto2";
    }

    .dot {
      color: #3b3553;
      font-family: "roboto2";
    }

    .comment {
      color: #78707e;
      font-family: "roboto2";
    }

    .blue {
      color: #5918df;
      font-family: "roboto2";
    }
    .yellow {
      color: #eeff31;
      font-family: "roboto2";
    }
    .red {
      color: #e3244c;
      font-family: "roboto2";
    }
    .aqua {
      color: #24e394;
      font-family: "roboto2";
    }

    .green {
      color: #24e33a;
      font-family: "roboto2";
    }
    .orange {
      color: #e39d24;
      font-family: "roboto2";
    }
  }
}

@media screen and (max-width: 426px) {
  .about-page-size {
    &::before {
      transform: translate(62vw, 10vh) scale(2);
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 769px) {
  .about-page-size {
    &::before {
      transform: translate(69vw, 10vh) scale(1.5);
    }
  }
}

// about page ends
