@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(/dist/css/about.css);
@import url(/dist/css/Contacts.css);
@import url(/dist/css/Projects.css);
@import url(/dist/css/Skills.css);

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika", sans-serif;
}

:root {
  --PFcolor: rgb(0 58 65);
  --font: "Signika", sans-serif;
  --fontcolor: #b2b3b1;
}

body::-webkit-scrollbar {
  display: none;
}

.front-page-background {
  /* background-: url("https://i.postimg.cc/yYBCnTDY/Technologyab23.jpg"); */
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

::selection {
  color: #b10000;
  background-color: #00000000;
}

.button-back {
  width: 160px;
  height: 50px;
  background-color: black;
  border: 0px solid black;
  z-index: 99999999;
  position: fixed;
  left: 1540px;
  top: 735px;
}

.background-td {
  // position: absolute;
  top: 100;
}
.background-3d {
  z-index: -2;
  position: fixed;
}

/* loader css starts */

.loader-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto auto;
  z-index: 99999;
  inset: 0;
  // position: relative;
  // padding: 0 40%;
  // color: white;

  // div {
  //   stroke-width: 2;

  //   h1 {
  //     stroke: #b2b3b1;
  //   }
  // }

  svg {
    width: 50rem;
    // height: 100px;
    position: absolute;

    text {
      stroke-width: 0.5;
    }
  }
}

.loader-text {
  animation: 4s infinite alternate animation-stroke;
  stroke: white;
  font-family: "Outfit", sans-serif;
  // stroke-dasharray: 100px 30%;
}

@keyframes animation-stroke {
  0% {
    fill: transparent;
    stroke: white;
    stroke-width: 1;
    // stroke-dashoffset: 10%;
    stroke-dasharray: 0 30%;
  }

  50% {
    fill: transparent;
    stroke: white;
    stroke-width: 1;
  }

  80%,
  100% {
    fill: white;
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 30% 0;
  }
}

.loader-container.hidden {
  opacity: 0.5;
  visibility: hidden;
}

#home {
  opacity: 0.5;
  transform: translate3d(0, -1rem, 0);
}

#home.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* navbar starts */

.navbar {
  position: relative;
  ul {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
    color: white;
    flex-wrap: wrap;
    padding: 0px 50px;
  }
}

.navbar li {
  list-style-type: none;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  transition: border-bottom 500ms ease-in-out 0s;
}

.navbar li:hover {
  border-bottom: 2px solid white;
  color: white;
}

.navbar a:hover {
  padding: 0px;
  background-color: transparent;
  text-shadow: 0Q 0Q 20Q rgb(255, 255, 255);
  color: white;
}

.navbar a {
  text-decoration: none;
  color: #b2b3b1;
  transition: text-shadow 0 ease-in-out 0s;
  font-weight: bold;
}

.navbar-logo {
  flex: 1;
  font-size: 1rem;
  user-select: none;
}

.nav-bar-logo {
  width: 60px;
  margin: 5px;
  padding: 0;
  animation: logo 5s infinite;
  position: relative;
  bottom: 10px;
  text-decoration: none;
  /* mix-blend-mode: multiply;
    filter: contrast(1); */
  left: 40px;
  top: 2px;
}

@keyframes logo {
  50% {
    transform: rotatey(90deg);
  }
}

.navbar-toggle {
  display: none;
}

.navbar-button {
  border: 1px solid;
  padding: 11px !important;
  margin: 14px;
  transition: box-shadow 500ms ease-in-out 0s;
  font-weight: bold;
  color: #b2b3b1;
  cursor: pointer;
}

.navbar-button:hover {
  padding: 5px;
  background-color: transparent;
  box-shadow: 0Q 0Q 20Q white;
  font-weight: bold;
}

@keyframes resume {
  /* 50%{
        box-shadow: 0q 0q 20q;
    } */

  100% {
    box-shadow: 0Q 0Q 20Q;
  }
}

/* navbar ends */

/* home page css starts */

.home-page-back-size {
  width: auto;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.home-align-flex {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  justify-content: space-around;
}

.home-content {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-size: cover;
  height: 70vh;
  color: rgb(179, 176, 176);
  /* align-items:; */
  justify-content: center;
  margin-left: 100px;
}

.first-content-greeting {
  /* font-size: ; */
  font-weight: bold;
  font-family: var(--font);
}

.second-content-name {
  font-weight: bold;
  font-family: var(--font);
  font-size: 70px;
  color: #ffffff;
}

.home-content span {
  color: var(--fontcolor);
  animation: light 2s alternate 0s linear infinite;
}

@keyframes light {
  0% {
    color: white;
    text-shadow: 0px 0px 20px white;
  }

  5% {
    color: white;
  }

  10% {
    color: var(--fontcolor);
  }

  20% {
    color: var(--fontcolor);
  }

  30% {
    color: white;
  }

  40% {
    color: white;
  }

  50% {
    color: var(--fontcolor);
  }

  60% {
    color: var(--fontcolor);
  }

  70% {
    color: white;
  }
}

.home-video-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}

.linked {
  width: 25px;
  height: 25px;
}

.social-logo {
  display: flex;
  flex-basis: 10px;
  gap: 15px;
}

/* mouse animation starts */

.scroll-downs {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;

  width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

/* mouse animation ends */

// button starts
.bottombutton {
  display: flex;
  justify-content: end;
  align-items: end;
  position: sticky;
  left: 0;
  right: 0;
  top: 700px;
  transform: translate(-50px, -50px);
  #scrollButton {
    width: 50px;
    height: 50px;
    padding: 8px;
    position: absolute;
    // background-color: rgb(37 37 3;
    border: 0xp solid black;
    border-radius: 5px;
    color: rgb(118, 118, 118);
    &:hover {
      background-color: transparent;
      color: white;
    }
    #arrow-icon {
      font-size: 35px;
    }
  }
}

// button ends
/* home page css ends */

@media screen and (max-width: 426px) {
  .home-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 70vh;
    color: rgb(179, 176, 176);
    /* align-items:; */
    justify-content: center;
    margin-left: 60px;
  }

  .second-content-name {
    font-weight: bold;
    font-family: var(--font);
    font-size: 50px;
  }

  .bottombutton {
    display: none;
  }
}

@media screen and (max-width: 1500px) and (min-width: 1024px) {
  .home-content {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    height: 70vh;
    color: rgb(179, 176, 176);
    /* align-items:; */
    justify-content: center;
    margin-left: 180px;
  }

  .bottombutton {
    top: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .bottombutton {
    top: 640px;
  }
}

@media screen and (max-width: 800px) {
  .navbar ul {
    padding: 0;
  }
  .bottombutton {
    top: 640px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    z-index: 1;
    ul {
      flex-wrap: wrap;
      padding: 0;
    }
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    z-index: 99;
  }

  .resume-button {
    text-align: center;
    float: left;
  }

  .active {
    display: block;
  }

  .mousey {
    display: none;
  }

  .bottombutton {
    top: 640px;
  }
}
